{
  "openapi": "3.0.3",
  "info": {
    "title": "RAYNET CRM API",
    "description": "Cloud CRM REST API je programové rozhraní systému RAYNET CRM, které umožňuje pracovat s daty uvnitř CRM z aplikací třetích stran. Komunikace probíhá standardním protokolem HTTP s ohledem na [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) principy.\n## Připojení k RAYNET CRM\nKomunikačním protokolem je HTTP, proto je možné použít libovolnou aplikaci nebo knihovnu, která tento protokol podporuje. Pro demonstraci bude využita aplikace [curl](https://curl.haxx.se/). Alternativou je například add-on [Talend API Tester](https://chrome.google.com/webstore/detail/talend-api-tester-free-ed/aejoelaoggembcahagimdiliamlcdmfm) do prohlížeče Google Chrome. Přístup je zabezpečen pomocí basic authentication (uživatelským jménem a API klíčem) a šifrován protokolem TLSv1.2 a vyšším (HTTPS) pro zajištění maximální bezpečnosti. V hlavičce požadavku je nutné zaslat název Vaší instance (např. `moje-crm`).\n\n```bash\n  curl -X GET -u 'uzivatel:api-klic' -H 'X-Instance-Name: moje-crm' 'https://app.raynet.cz/api/v2/company/'\n```\n\n## Datové typy\n\nHodnoty jednotlivých atributů v systému RAYNET CRM jsou tvořeny několika základními datovými typy:\n\n+ `Řetězec` - Textová hodnota.\n\n+ `Číslo` - Číselná hodnota. V závislosti na kontextu se může jednat buď o číslo celé nebo o číslo desetinné. V desetinných číslech se používá desetinná tečka.\n\n+ `Pravdivostní hodnota` - Hodnota ANO/NE. Pro hodnotu ANO lze využít true, on, yes a 1; pro hodnotu NE pak false, off, no a 0.\n\n+ `Datum` - Datum jako řetězec ve formátu `yyyy-MM-dd`.\n\n+ `Datum a čas` - Datum a čas jako řetězec ve formátu `yyyy-MM-dd HH:mm`. Akceptovány jsou také datum a čas ve formátu ISO8601 (např. `2022-01-01T12:00:00.000+01:00`).\n\n+ `Reference` - Datový typ reference odkazuje na jiný záznam v systému RAYNET CRM. V příchozích datech je reference mapou (JavaScriptový objektem), která obsahuje klíče:\n  + id - Identifikátor referencovaného záznamu.\n\n### Datum a čas\n\nDatum a čas jako řetězec ve formátu `yyyy-MM-dd HH:mm` je v časové zóně uživatele, přes kterého jsou API požadavky realizovány. Pro filtrování a zápis (`PUT`, `POST`) je možné využít oba formáty (`yyyy-MM-dd HH:mm`, ISO8601).\n\nV response je ve výchozím stavu datum a čas formátován jako `yyyy-MM-dd HH:mm` v časové zóně uživatele. Přidáním parametru `dateFormat=ISO8601` lze ovlivnit výstupní formát, kdy bude hodnota formátována do tvaru `2022-01-01T12:00:00.000+01:00`.\nnapř. `https://ww....company/?dateFormat=ISO8601`\n\n## Filtrování seznamu\n\nOperátory pracující nad atributy a hodnotami jsou následující:\n\n+ `EQ` - Test na rovnost hodnot.\n+ `EQ_OR_NULL` - Test na rovnost nebo prázdnou hodnotu.\n\n+ `NE` - Test na nerovnost hodnot.\n\n+ `NE_OR_NULL` - Test na nerovnost nebo prázdnou hodnotu.\n\n+ `LT` - Hodnota v databázi je menší než zadaná.\n\n+ `LE` - Hodnota v databázi je menší nebo rovna než zadaná.\n\n+ `GT` - Hodnota v databázi je větší než zadaná.\n\n+ `GE` - Hodnota v databázi je větší nebo rovna než zadaná.\n\n+ `LIKE` - Test na hodnotu odpovídající výrazu (např. hodnota filtru ABC% nalezne všechny záznamy, které začínají znaky ABC).\n\n+ `LIKE_NOCASE` - Obdoba LIKE, ale bez ohledu na malá a velká písmena.\n\n+ `IN` - Test na rovnost (více) hodnot oddělených čárkou. Správný formát vstupu je např.: `1,2,3,4`.\n\n+ `NOT_IN` - Test na nerovnost (více) hodnot oddělených čárkou. Správný formát vstupu je např.: `1,2,3,4`.\n\n+ `CUSTOM` - Speciální operátor - chování testu je popsáno dále v dokumentaci.\n\nVýchozím operátorem je rovnost `EQ`. Operátor se zapisuje do hranatých závorek za název atributu. Je tak možné zadat více filtrovacích kritérií nad stejným atributem. `https://app..../?validFrom[GT]=\"2014-06-01\"&validTill[LT]=\"2014-06-10\"`\nČastým scénářem je vyfiltrování všech záznamů, které mají daný atribut prázdný nebo naopak neprázdný. Pro tyto účely lze použít hodnotu `prázdný řetězec` v kombinaci s operátorem `EQ` nebo `NE`.\n\n## Uspořádání seznamu\n\nUspořádání seznamu je kontrolováno parametrem `sortColumn` a `sortDirection`. U každého API je výčet hodnot, pomocí kterých lze seznam řadit. Parametr `sortDirection` může nabývat hodnot:\n\n+ `ASC` - Hodnoty jsou řazeny vzestupně\n\n+ `DESC` - Hodnoty jsou řazeny sestupně\n\n## Stránkování seznamu\n\nSeznam je možné stránkovat nastavením parametrů `offset` a `limit`. Offset udává první záznam, který bude zobrazen, limit pak počet záznamů. Maximální velikost stránky je 1 000 položek. Například `https://app..../?offset=0&limit=2`\n\n## Fulltext\n\nVe většině seznamů je možné využít fulltextové vyhledání podle zadaného textového řetězce. Slouží k tomu parametr `fulltext`, který se aplikuje např. takto: `https://app..../?fulltext=nejakytext`\n\n## Limity API\n\nKaždá API odpověď obsahuje hlavičky, které popisují stav využití API pro danou instanci.\n\n```\ncurl -X GET -u 'uzivatel:api-klic' -H 'X-Instance-Name: moje-crm' 'https://app.raynet.cz/api/v2/company/'\n\nHTTP/1.1 200 OK\nStatus: 200 OK\nX-Ratelimit-Limit: 24000\nX-Ratelimit-Remaining: 23999\nX-Ratelimit-Reset: 1508889600\n```\n\nVýznam jednotlivých hlaviček je následující:\n\n| Hlavička | Význam |\n| -------- | ------ |\n| X-Ratelimit-Limit | Celkový limit pro aktuální časové okno a instanci. |\n| X-Ratelimit-Remaining | Zbývající počet požadavků. |\n| X-Ratelimit-Reset | Čas, kdy bude vyprší časové okno a limit bude resetován. Hodnota udává [unixový čas](https://cs.wikipedia.org/wiki/Unixov%C3%BD_%C4%8Das). |\n\nPokud je limit překročen, je navrácena chybová hláška s HTTP kódem `429 Too Many Requests`:\n\n```json\n{\n  \"type\": \"RequestLimitReached\",\n  \"message\": \"API request limit reached. See the X-RateLimit-* headers and check out the API documentation for more details.\"\n}\n```\n\n### Co když mi limity nestačí\n\nVe výchozím stavu je přístup limitován na 24 000 požadavků za den (uvažováno od půlnoci do další půlnoci v časové zóně UTC). V případě, že limit pro vaši integraci nestačí, kontaktujte naší zákaznickou podporu na e-mailu podpora@raynet.cz a spolu se určitě dobereme vhodného řešení.\n\n### Špatné přihlášení\n\nV případě zaslaní více než 20 požadavků se špatnými přihlašovacími údaji, bude tento přístup na 60 minut zablokován. Toto omezení platí pro konkrétní IP adresu.",
    "version": "2.0.0",
    "x-logo": {
      "url": "https://cdn.raynetcrm.com/resources/9dd66059c14f4f5ecc68.jpg",
      "background": "#ffffff"
    }
  },
  "servers": [
    {
      "url": "https://app.raynet.cz/api/v2/"
    },
    {
      "url": "https://app.raynetcrm.sk/api/v2/"
    },
    {
      "url": "https://app.raynetcrm.com/api/v2/"
    }
  ],
  "security": [
    {
      "basicAuth": [],
      "instanceName": []
    }
  ],
  "tags": [
    {
      "name": "Klienti",
      "description": "API pro práci s klienty."
    },
    {
      "name": "Kontaktní osoby",
      "description": "API pro práci s kontaktními osobami."
    },
    {
      "name": "Leady",
      "description": "API pro práci s leady."
    },
    {
      "name": "Obchodní případy",
      "description": "API pro práci s obchodními případy (dále jen \"OP\")."
    },
    {
      "name": "Nabídky",
      "description": "API pro práci s nabídkami."
    },
    {
      "name": "Objednávky",
      "description": "API pro práci s objednávkami."
    },
    {
      "name": "Projekty",
      "description": "API pro práci s projekty."
    },
    {
      "name": "Ceníky",
      "description": "API pro práci s ceníky."
    },
    {
      "name": "Produkt",
      "description": "API pro práci s produkty."
    },
    {
      "name": "Číselníky",
      "description": "API pro práci s číselníky."
    },
    {
      "name": "Aktivity",
      "description": "API pro práci s aktivitami."
    },
    {
      "name": "Hromadný email",
      "description": "API pro práci s entitou hromadný email. API slouží jako podpora pro integrace s mailovými službami třetích stran. Pomocí totoho API je možné zaznamenat výsledek mailové kampaně (uskutečněný službou třetí strany), tzn. jaký email a komu byl odeslán a s jakým výsledkem. Adresáti hromadného emailu mohou být tímto API napojeni přímo na konkrétní Klienty nebo Kontaktní osoby."
    },
    {
      "name": "Knihovna dokumentů",
      "description": "API pro práci s knihovnou dokumentů."
    },
    {
      "name": "Faktury",
      "description": "API pro práci s historickým fakturačním modulem.\n\nFakturační modul je od roku 2021 `ukončen` a nahrazen [integrací s iDokladem](https://raynet.cz/blog/fakturacni-modul-od-idokladu/). Toto API již není technicky podporováno a slouží pouze pro přechodné období a dočasnou zpětnou kompatibilitu. Od roku 2022 již nebude možné uživatelsky faktury zakládat ani je editovat.\n\nV případě dotazů ohledně potřebné práce s fakturami nás neváhejte [kontaktovat](https://raynet.cz/zeptejte-se-podpory/) a během přechodného období lze domluvit individuální postup..."
    },
    {
      "name": "Vlastní tlačítka",
      "description": "## Konfigurace\n\nTlačítko vlastních akcí můžete použít pro spouštění integračních scénárů vytvořených programátory namíru nebo v platformách jako je například https://www.integromat.com/. Tlačítka mohou také otevírat externí URL adresy nebo spouštět akce. Ty vám vyplní a stáhnou vlastní tiskovou sestavu, zahájí hovor na telefonu nebo odešlou data do jiné cloudové aplikace.\n\nTlačítka si můžete nakonfigurovat sami v administraci vašeho CRM v sekci \"Pro vývojáře -> Tlačítka vlastních akcí\".\n\nParametry vlastního tlačítka jsou:\n\n| Atribut | Popis | Poznámka |\n| -------- | ------ | ------ |\n| Název | Název tlačítka | |\n| URL | Šablona URL adresy | Je možné použít proměnné `{token}`, `{entityId}`, `{entityName}`, `{userName}`, `{userId}`, `{personId}`, `{extId_$extIdCode}` viz níže |\n| Umístění | Kde se tlačítko zobrazí | Možnosti jsou: `Hlavní menu`, `Seznam`, `Detail` |\n| Záznam | Název entity kde se má tlačítko zobrazit | Jen pro umístnění v seznamu nebo detailu záznamu |\n| Popis | Popis tlačítka | Jen pro umístnění v seznamu nebo detailu záznamu. Zobrazí se při dvou a více tlačítkách v jedné entitě. |\n| Akce | Typ akce | `OPEN URL`, `AJAX`, `DOWNLOAD` viz níže |\n| Metoda | Typ http požadavku | `GET`, `POST`, `PUT`, `DELETE` Jen pro akce typu `AJAX` a `DOWNLOAD` |\n| Obnovit data po | Čas v ms | Dostupné jen pro `Seznam` a `Detail`. CRM po stanoveném čase provede aktualizaci zobrazených dat |\n| Titulek úspěchu | Titulek zprávy po úspěšném vykonání akce | Jen pro `AJAX` |\n| Text úspěchu | Text zprávy po úspěšném vykonání akce | Jen pro `AJAX` |\n| Vyžadovat potvrzení před spuštěním | Před spuštěním akce bude uživateli zobrazen dialog s potvrzením |  |\n| Viditelné jen pro administrátora | Vidí pouze administrátor |  |\n| Vyžadovat uložení záznamu | Záznam musí být uložen před spuštěním akce | Dosupné jen pro `Detail` |\n| Otevírat do | URL otevřít v nové záložce nebo v novém okně | Možnosti jsou `OPEN_TAB` a `OPEN_WINDOW`. Dostupné jen pro akci `OPEN URL`. |\n| Šířka | Šířka nově otevřeného okna | Dostupné jen pro akci `OPEN URL` s možností `OPEN_WINDOW`. |\n| Výška | Výška nově otevřeného okna | Dostupné jen pro akci `OPEN URL` s možností `OPEN_WINDOW`. |\n| Obnovit data po zavření okna | Po zavření okna obnoví kartu s detailem nebo seznamem | Dostupné jen pro akci `OPEN URL` s možností `OPEN_WINDOW` a umístěním v `Seznam` nebo `Detail`. |\n\nParametry URL adresy:\n\n| Parametr | Popis |\n| -------- | ------ |\n| token | Bezpečnostní token generovaný CRM. Je možné jej ověřit pomocí API (viz níže) |\n| entityId | ID záznamu, ze kterého je akce spouštěna. Dostupné jen pro `Detail` |\n| entityName | Název entity, ze které je akce spouštěna. Dostupné jen pro `Detail` a `Seznam` |\n| userName | Email uživatele, který akci spouští. |\n| userId | ID uživatele, který akci spouští. Uživatele je možné vyfiltrovat pomocí API `seznam kontaktních osob` s parametrem `userAccount-id` |\n| personId | ID kontaktní osoby, která akci spustila. Kontaktní osobu je možné vyfiltrovat pomocí API `detail kontaktní osoby` s parametrem `id` |\n| extId_$extIdCode | Hodnota externího id v záznamu, ze kterého je akce spouštěna. Dostupné jen pro `Detail`. Např. v případě externího id \"mojeid:123\" zadejte extId_mojeid |\n\nPokud je akce spuštěna ze `Seznamu` a je použita jiná metoda než `GET`, jsou zaslány v rámci `RequestBody` ID zobrazených záznamů (vždy).\n\nAkce:\n\n| Akce | Popis |\n| -------- | ------ |\n| OPEN URL | Otevření URL adresy do nové záložky |\n| AJAX | Asynchronní požadavek. Při úspěšném zpracování je nutné vrátit HTTP 200 a `{\"success\": true}`. Při chybě je možné vrátit JSON ve formátu `{\"success\": false, \"message\": \"Došlo k chybě\"}`  |\n| DOWNLOAD | Stažení souboru |"
    },
    {
      "name": "Volitelná pole",
      "description": "API pro načtení konfigurace volitených polí a pro načtení obsahů (seznamů) polí typu ENUMERATION (tzn. číselník, alias roletka).\nPozn.: Získání a uložení samotných hodnot volitelných polí se děje prostřednictvím standardních API - add, detail a update."
    },
    {
      "name": "Soubory",
      "description": "API pro načtení obsahu souborů v podobě příloh nebo obrázků (fotek, log) k záznamům."
    },
    {
      "name": "GDPR šablony právních titulů",
      "description": "API pro práci s GDPR šablony právních titulů."
    },
    {
      "name": "GDPR",
      "description": "API pro práci s GDPR právními tituly."
    },
    {
      "name": "Notifikace",
      "description": "API pro práci s notifikacemi."
    },
    {
      "name": "Externí identifikátor",
      "description": "V rámci identifikace záznamu je možné využít externí identifikátor, který lze uložit ke konkrétnímu záznamu. \nNa základě tohoto identifikátoru lze následně záznam dohledat (zavolat API pro detail tohoto záznamu). Každý záznam může mít až 10 externích identifikátorů.\n\nIdentifikátor by měl mít prefix určující jeho původ (respektive systém, ze kterého pochází). Toto je vhodné při integraci více systémů, tak aby byly identifikátory jednoznačné. Externí identifikátor tak může mít například podobu `erp:123455`.\n\nExterní identifikátor lze zapsat pomocí přímo určeného API k již existujícímu záznamu (viz. níže) nebo jej lze poslat zároveň při vytváření záznamu. Např. při vytvoření klienta je možné zapsat externí identifikátor takto:\n\n```\ncurl -X PUT 'api/v2/company'\n\n{\n  \"name\": \"RAYNET s.r.o.\",\n  \"rating\": \"A\",\n  \"state\": \"A_POTENTIAL\",\n  \"role\": \"B_PARTNER\",\n  \"extId\": \"erp:123455\"\n} \n```\n\nDetail daného záznamu je možné následně získat pomocí URL: `/api/v2/{entityName}/ext/{extId}/` (https://app.raynet.cz/api/v2/company/ext/erp:123456/)"
    },
    {
      "name": "Bezpečnostní úrovně",
      "description": "API pro práci s bezpečnostními úrovněmi."
    },
    {
      "name": "Uživatelé",
      "description": "API pro práci s uživateli."
    },
    {
      "name": "Diskuze",
      "description": "API pro práci s diskuzemi."
    },
    {
      "name": "Webhook",
      "description": "Webhook je nástroj pro zasílání notifikací o změnách ve vašem CRM do externího systému skrz protokol HTTP. Notifikace jsou odesílány jako požadavky typu POST na zvolené URL adresy.\n\nKonfiguraci provedete v nastavení RAYNET CRM v sekci _Webhook_. Můžete nastavit více URL pro zasílání požadavků a ke každé navíc určit:\n\n* typy událostí se mají odesílat,\n\n* bezpečnostní kód, který bude s každým požadavkem odeslán v hlavičce `X-RAYNETCRM-Token`.\n\nSoučástí konfigurace je také technický kontakt, což je sada emailů, na které bude v případě problémů odeslán e-mail. Bude zaslán v těchto případech:\n\n* Vaše URL více než 1 den nepřijímá notifikace (server je nedostupný nebo vrací jiný HTTP kód než `2xx`).\n\n* Vaše URL již opět přijmá požadavky, pokud nastal bod 1.\n\n* Vaše URL nepřijímá požadavky více než 7 dní. Webhook bude deaktivován a odstraněn z nastavení.\n\nInterně se odchozí notifikace ze CRM řadí do fronty. V případě, že cílové URL dostupné, jsou zasílány opakovaně. Při odstávce externího systému tedy o žádné události nepříjdete.\n\nVe výchozím stavu je rychlost odesílání omezena na 1 událost/s na každé konfigurované URL. Současně je omezena maximální doba zpracování webhooku (connectTimeout - 10s, socketTimeout - 60s). Po spojení se čeká maximálně 10s na odpověď.\n\n### podporované události\n\n**record.created**\n\nUdálost je zaslána po vytvoření nového záznamu. Součástí dat je typ záznamu a jeho id. Součástí je i externí ID, pokud je u záznamu definováno.\n\n```json\n{\n   \"eventId\": \"62497f2c609d4b7184b9adf1e427fa55\",\n   \"createdAt\": \"2017-01-18T13:16:39.923+01:00\",\n   \"type\": \"record.created\",\n   \"author\": \"admin@raynet.cz\",\n   \"source\": {\n      \"name\": \"user\",\n      \"description\": \"browser\"\n   },\n   \"data\": {\n      \"entityName\": \"Company\",\n      \"entityId\": 123,\n      \"extIds\": [\n          \"1111\"\n      ]\n   }\n}\n```\n\n**record.updated**\n\nUdálost je zaslána po změně záznamu.\n\n```json\n{\n   \"eventId\": \"d3ba342896d94dd5a4ee72d998e1e7c4\",\n   \"createdAt\": \"2017-01-19T14:02:31.123+01:00\",\n   \"type\": \"record.updated\",\n   \"author\": \"admin@raynet.cz\",\n   \"source\": {\n      \"name\": \"user\",\n      \"description\": \"browser\"\n   },\n   \"data\": {\n      \"entityName\": \"Company\",\n      \"entityId\": 2,\n      \"extIds\": null\n   }\n}\n```\n\n**record.deleted**\n\nUdálost je zaslána po odstranění záznamu.\n\n```json\n{\n   \"eventId\": \"22b1d9c792814537b574e053642f2ce6\",\n   \"createdAt\": \"2017-02-02T11:45:00.873+01:00\",\n   \"type\": \"record.deleted\",\n   \"author\": \"admin@raynet.cz\",\n   \"source\": {\n      \"name\": \"user\",\n      \"description\": \"browser\"\n   },\n   \"data\": {\n      \"entityName\": \"Company\",\n      \"entityId\": 2,\n      \"extIds\": null\n   }\n}\n```\n\n### zdroj události\n\nSoučástí události je klíč `source` identifikující zdroj akce, která událost vyvolala. Možné hodnoty vnořeného atributu `name` jsou:\n\n* `user`: událost je důsledkem uživatelské akce. Pole `description` je pak buď `browser` (CRM v prohlížeči) nebo `mobile` (mobilní aplikace).\n\n* `api`: událost byla vygenerována na základě API požadavku. Pokud bylo použito přihlášení API klíčem, `description` obsahuje název API klíče.\n\n* Ostatní události jsou označeny jako `system`."
    }
  ],
  "paths": {
    "/company/": {
      "get": {
        "tags": [
          "Klienti"
        ],
        "summary": "seznam klientů",
        "description": "Získání seznamu klientů. Tento seznam může být filtrován, řazen a stránkován za použítí níže uvedených parametrů.\n\n```\nhttps://app.raynet.cz/api/v2/company/?offset=0&limit=1&name[LIKE]=RAY%\n```",
        "operationId": "companyGet",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Zobrazeni zaznamu od zacatku",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximální počet vrácených klientů je `1000`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 100
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "rowInfo.createdAt",
                "rowInfo.updatedAt",
                "rowInfo.lastModifiedAt",
                "name",
                "regNumber"
              ]
            },
            "example": "name"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "example": "ASC"
          },
          {
            "name": "fulltext",
            "in": "query",
            "description": "Fulltextové vyhledání v seznamu. Operátor se v tomto případě nepoužívá.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "myText"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filtrování klientů podle jména. Lze využít operátoru `EQ`, `NE`, `LIKE`, `LIKE_NOCASE`.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "Test s.r.o."
          },
          {
            "name": "lastName",
            "in": "query",
            "description": "Filtrování klientů podle příjmení fyzické osoby. Lze využít operátoru `EQ`, `NE`, `LIKE`, `LIKE_NOCASE`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "RAY"
          },
          {
            "name": "person",
            "in": "query",
            "description": "Filtrování klientů podle příznaku Jedná se o fyzickou osobu",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "regNumber",
            "in": "query",
            "description": "Filtrování klientů podle IČ. Lze využít operátoru `EQ`, `NE`. Výchozím operátorem je `EQ`. Například: pro seznam všech klientů se zadaným IČ je nutné zadat `regNumber[NE]=null`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "12345678"
          },
          {
            "name": "owner",
            "in": "query",
            "description": "Filtrování klientů podle vlastníka (Person). Filtruje se podle jednoznačného identifikátoru vlastníka (id)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "1"
          },
          {
            "name": "rating",
            "in": "query",
            "description": "Filtrování klientů podle Ratingu",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "Filtrování klientů podle Role",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filtrování klientů podle Stavu",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Filtrování klientů podle ID kategorie (CompanyCategory). Lze využít operátoru `EQ`, `NE`, `IN`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "1"
          },
          {
            "name": "economyActivity",
            "in": "query",
            "description": "Filtrování klientů podle ID oboru (EconomyActivity). Lze využít operátoru `EQ`, `NE`, `IN`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "1"
          },
          {
            "name": "companyClassification1",
            "in": "query",
            "description": "Filtrování klientů podle ID klasifikace 1 (CompanyClassification1). Lze využít operátoru `EQ`, `NE`, `IN`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "1"
          },
          {
            "name": "companyClassification2",
            "in": "query",
            "description": "Filtrování klientů podle ID klasifikace 2 (CompanyClassification2). Lze využít operátoru `EQ`, `NE`, `IN`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "1"
          },
          {
            "name": "companyClassification3",
            "in": "query",
            "description": "Filtrování klientů podle ID klasifikace 3 (CompanyClassification3). Lze využít operátoru `EQ`, `NE`, `IN`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "1"
          },
          {
            "name": "primaryAddress-contactInfo.email",
            "in": "query",
            "description": "Filtrování klientů podle emailu u primární adresy. Lze využít operátoru `EQ`, `NE`, `LIKE`, `LIKE_NOCASE`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "test@test.cz"
          },
          {
            "name": "primaryAddress-contactInfo.email2",
            "in": "query",
            "description": "Filtrování klientů podle druhého emailu u primární adresy. Lze využít operátoru `EQ`, `NE`, `LIKE`, `LIKE_NOCASE`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "test@test.cz"
          },
          {
            "name": "rowInfo.createdAt",
            "in": "query",
            "description": "Filtrování klientů podle data vytvoření. Lze využít operátoru `GT`, `GE`, `LT`, `LE`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-06-01 10:00"
          },
          {
            "name": "rowInfo.updatedAt",
            "in": "query",
            "description": "Filtrování klientů podle posledního data upravení. Lze využít operátoru `GT`, `GE`, `LT`, `LE`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-06-01 10:00"
          },
          {
            "name": "rowInfo.lastModifiedAt",
            "in": "query",
            "description": "Filtrování klientů podle posledního data modifikace (vytvoření nebo upravení). Lze využít operátoru `GT`, `GE`, `LT`, `LE`. Vhodné pro periodickou detekci změn.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "2022-06-01 10:00"
          },
          {
            "name": "rowInfo.rowAccess",
            "in": "query",
            "description": "Filtrování zneplatněných klientů. Lze využít operátoru `EQ`, `NE`, `EQ_OR_NULL`, `NE_OR_NULL`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "INVALID"
          },
          {
            "name": "gdprTemplate",
            "in": "query",
            "description": "Filtrování klientů podle právního titulu. Lze použít jen operátor `CUSTOM`.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "withoutGdpr",
            "in": "query",
            "description": "Filtrování klientů, kteří nemají platný právní titul. Lze využít jen operátor `CUSTOM`. `api/v2/company?withoutGdpr[CUSTOM]`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "description": "Pokud je hodnota rovna `rowInfo`, jsou vráceny pouze stavové informace o záznamu (data vytvoření, upravení, verze, ...). Vhodné pro periodickou detekci změn.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "rowInfo"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filtrování podle štítku. Je možné hledat podle více štítků oddělených čárkou. Záznam potom musí alespoň jeden obsahovat (`tag1,tag2`).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "tags"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "success": "true",
                  "totalCount": 1,
                  "data": [
                    {
                      "id": 2,
                      "name": "Test s.r.o.",
                      "titleBefore": null,
                      "firstName": null,
                      "lastName": null,
                      "titleAfter": null,
                      "person": false,
                      "role": "B_PARTNER",
                      "state": "B_ACTUAL",
                      "rating": "A",
                      "owner": {
                        "id": 1,
                        "fullName": "RAYNET CRM"
                      },
                      "regNumber": "123456789",
                      "taxNumber": "CZ123456789",
                      "taxNumber2": null,
                      "taxPayer": "YES",
                      "primaryAddress": {
                        "id": 2,
                        "primary": true,
                        "contactAddress": false,
                        "address": {
                          "id": 2,
                          "city": "Ostrava-Slezská Ostrava",
                          "country": "Česká republika",
                          "name": "Sídlo klienta",
                          "province": "Moravskoslezský kraj",
                          "street": "Těšínská",
                          "zipCode": "710 00",
                          "lat": 49.2499446,
                          "lng": 13.703011
                        },
                        "territory": {
                          "id": 91,
                          "value": "Morava"
                        },
                        "contactInfo": {
                          "email": "test@test.cz",
                          "email2": "test2@test.cz",
                          "primary": true,
                          "tel1": "123 456 789",
                          "tel1Type": "mobil",
                          "tel2": "987 654 321",
                          "tel2Type": "pevná linka",
                          "www": "www.test.cz",
                          "otherContact": null
                        }
                      },
                      "contactAddress": {
                        "id": 3,
                        "primary": false,
                        "contactAddress": true,
                        "address": {
                          "id": 3,
                          "city": "Ostrava-Moravská Ostrava",
                          "country": "Česká republika",
                          "name": "Provozovna",
                          "province": "Moravskoslezský kraj",
                          "street": "Českobratrská 113",
                          "zipCode": "702 00",
                          "lat": null,
                          "lng": null
                        },
                        "territory": {
                          "id": 91,
                          "value": "Morava"
                        },
                        "contactInfo": {
                          "email": "provozovna@test.cz",
                          "email2": null,
                          "primary": true,
                          "tel1": "444 444 444",
                          "tel1Type": "mobil",
                          "tel2": "111 111 111",
                          "tel2Type": "pevná linka",
                          "www": null,
                          "otherContact": null
                        }
                      },
                      "category": {
                        "id": 15,
                        "value": "Zákazník"
                      },
                      "turnover": {
                        "id": 82,
                        "value": "do 1 mil. Kč"
                      },
                      "economyActivity": {
                        "id": 92,
                        "value": "obor 1"
                      },
                      "companyClassification1": {
                        "id": 93,
                        "value": "kla 1"
                      },
                      "companyClassification2": {
                        "id": 94,
                        "value": "kla 2"
                      },
                      "companyClassification3": {
                        "id": 95,
                        "value": "kla 3"
                      },
                      "paymentTerm": {
                        "id": 64,
                        "value": "7 dní"
                      },
                      "contactSource": {
                        "id": 62,
                        "value": "e-mail"
                      },
                      "birthday": null,
                      "notice": "poznamka ke klientovi",
                      "tags": [
                        "stitek1",
                        "stitek 2"
                      ],
                      "customFields": null,
                      "rowInfo.createdAt": "2022-06-18 13:19",
                      "rowInfo.createdBy": "demo@raynet.cz",
                      "rowInfo.updatedAt": "2022-09-22 14:17",
                      "rowInfo.updatedBy": "demo@raynet.cz",
                      "rowInfo.rowAccess": null,
                      "rowInfo.rowState": null,
                      "securityLevel": {
                        "id": 1,
                        "name": "Sdílená"
                      },
                      "inlineGdpr": [
                        {
                          "id": 1,
                          "validFrom": "2022-01-01",
                          "validTill": "2022-01-01",
                          "legalTitle": "LEGITIMATE_INTEREST",
                          "templateName": "Opravněný zájem",
                          "gdprTemplate": 1
                        }
                      ],
                      "_version": 16
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Unsupported filter column ..."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "example": {
                  "message": "AttributeAccessDeniedException",
                  "translatedMessage": "Nemáte dostatečná oprávnění pro ..."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Klienti"
        ],
        "summary": "nový klient",
        "description": "Založení nového klienta s adresami",
        "operationId": "companyInsert",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyInsertDto",
                "type": "object",
                "required": [
                  "name",
                  "rating",
                  "state",
                  "role"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "[Název]"
                  },
                  "person": {
                    "type": "boolean",
                    "description": "[Jedná se o fyzickou osobu]"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "[Příjmení fyzické osoby] - povinný v případě, že je aktivní příznak 'Jedná se o fyzickou osobu'"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "[Jméno fyzické osoby]"
                  },
                  "titleBefore": {
                    "type": "string",
                    "description": "[Titul před jménem fyzické osoby]"
                  },
                  "titleAfter": {
                    "type": "string",
                    "description": "[Titul za jménem fyzické osoby]"
                  },
                  "salutation": {
                    "type": "string",
                    "description": "[Oslovení]"
                  },
                  "securityLevel": {
                    "type": "integer",
                    "description": "[Bezpečnostní úroveň] ID bezpečnostní úrovně. Pokud není vyplněna je nastavena výchozí bezpečnostní skupina.",
                    "format": "int64"
                  },
                  "owner": {
                    "type": "integer",
                    "description": "[Vlastník] ID kontaktní osoby, která je zároveň uživatelem",
                    "format": "int64"
                  },
                  "rating": {
                    "type": "string",
                    "description": "[Rating]",
                    "enum": [
                      "A",
                      "B",
                      "C"
                    ]
                  },
                  "state": {
                    "type": "string",
                    "description": "[Stav]",
                    "enum": [
                      "A_POTENTIAL",
                      "B_ACTUAL",
                      "C_DEFERRED",
                      "D_UNATTRACTIVE"
                    ]
                  },
                  "role": {
                    "type": "string",
                    "description": "[Vztah]",
                    "enum": [
                      "A_SUBSCRIBER",
                      "B_PARTNER",
                      "C_SUPPLIER",
                      "D_RIVAL"
                    ]
                  },
                  "notice": {
                    "type": "string",
                    "description": "[Poznámka ke klientovi]"
                  },
                  "category": {
                    "type": "integer",
                    "description": "[Kategorie] ID záznamu z číselníku CompanyCategory",
                    "format": "int64"
                  },
                  "contactSource": {
                    "type": "integer",
                    "description": "[Zdroj kontaktu] ID záznamu z číselníku ContactSource",
                    "format": "int64"
                  },
                  "employeesNumber": {
                    "type": "integer",
                    "description": "[Zaměstnanců] ID záznamu z číselníku EmployeesNumber",
                    "format": "int64"
                  },
                  "legalForm": {
                    "type": "integer",
                    "description": "[Právní forma] ID záznamu z číselníku LegalForm",
                    "format": "int64"
                  },
                  "paymentTerm": {
                    "type": "integer",
                    "description": "[Platbní podmínky] ID záznamu z číselníku PaymentTerm",
                    "format": "int64"
                  },
                  "turnover": {
                    "type": "integer",
                    "description": "[Obrat] ID záznamu z číselníku CompanyTurnover",
                    "format": "int64"
                  },
                  "economyActivity": {
                    "type": "integer",
                    "description": "[Obor] ID záznamu z číselníku EconomyActivity",
                    "format": "int64"
                  },
                  "companyClassification1": {
                    "type": "integer",
                    "description": "[Klasifikace 1]ID záznamu z číselníku CompanyClassification1",
                    "format": "int64"
                  },
                  "companyClassification2": {
                    "type": "integer",
                    "description": "[Klasifikace 2] ID záznamu z číselníku CompanyClassification2",
                    "format": "int64"
                  },
                  "companyClassification3": {
                    "type": "integer",
                    "description": "[Klasifikace 3] ID záznamu z číselníku CompanyClassification3",
                    "format": "int64"
                  },
                  "regNumber": {
                    "type": "string",
                    "description": "[IČ]"
                  },
                  "taxNumber": {
                    "type": "string",
                    "description": "[DIČ]"
                  },
                  "taxNumber2": {
                    "type": "string",
                    "description": "[IČ DPH] Pro slovenské klienty"
                  },
                  "taxPayer": {
                    "type": "string",
                    "description": "[Plátce DPH]",
                    "enum": [
                      "YES",
                      "NO"
                    ]
                  },
                  "bankAccount": {
                    "type": "string",
                    "description": "[Bankovní spojení]"
                  },
                  "databox": {
                    "type": "string",
                    "description": "[Datová schránka]"
                  },
                  "court": {
                    "type": "string",
                    "description": "[Spisová značka]"
                  },
                  "birthday": {
                    "type": "string",
                    "description": "[Narozeniny/Výročí]",
                    "format": "date"
                  },
                  "addresses": {
                    "minItems": 0,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "[Název]"
                            },
                            "street": {
                              "type": "string",
                              "description": "[Ulice]"
                            },
                            "city": {
                              "type": "string",
                              "description": "[Město]"
                            },
                            "province": {
                              "type": "string",
                              "description": "[Kraj]"
                            },
                            "zipCode": {
                              "type": "string",
                              "description": "[PSČ]"
                            },
                            "country": {
                              "type": "string",
                              "description": "[Kód Země]"
                            },
                            "lat": {
                              "type": "number",
                              "description": "[Zeměpisná šířka]"
                            },
                            "lng": {
                              "type": "number",
                              "description": "[Zeměpisná délka]"
                            }
                          }
                        },
                        "contactInfo": {
                          "type": "object",
                          "properties": {
                            "email": {
                              "type": "string",
                              "description": "[Email]"
                            },
                            "email2": {
                              "type": "string",
                              "description": "[Email2]"
                            },
                            "fax": {
                              "type": "string",
                              "description": "[Fax]"
                            },
                            "otherContact": {
                              "type": "string",
                              "description": "[Jiný kontakt]"
                            },
                            "tel1Type": {
                              "type": "string",
                              "description": "[Typ 1]"
                            },
                            "tel1": {
                              "type": "string",
                              "description": "[Tel 1]"
                            },
                            "tel2Type": {
                              "type": "string",
                              "description": "[Typ 2]"
                            },
                            "tel2": {
                              "type": "string",
                              "description": "[Tel 2]"
                            },
                            "www": {
                              "type": "string",
                              "description": "[WWW]"
                            },
                            "doNotSendMM": {
                              "type": "boolean",
                              "description": "[Neposílat mark. m.]"
                            }
                          }
                        },
                        "territory": {
                          "type": "integer",
                          "description": "[Obchodní teritorium] ID záznamu z číselníku Territory",
                          "format": "int64"
                        }
                      }
                    }
                  },
                  "socialNetworkContact": {
                    "type": "object",
                    "properties": {
                      "facebook": {
                        "type": "string",
                        "description": "[Facebook]"
                      },
                      "googleplus": {
                        "type": "string",
                        "description": "[Google+]"
                      },
                      "twitter": {
                        "type": "string",
                        "description": "[Twitter]"
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "[Linkedin]"
                      },
                      "pinterest": {
                        "type": "string",
                        "description": "[Pinterest]"
                      },
                      "instagram": {
                        "type": "string",
                        "description": "[Instagram]"
                      },
                      "skype": {
                        "type": "string",
                        "description": "[Skype]"
                      },
                      "youtube": {
                        "type": "string",
                        "description": "[Youtube]"
                      }
                    }
                  },
                  "originLead": {
                    "type": "integer",
                    "description": "[Lead] ID leadu, ze kterého klient vznikl",
                    "format": "int64"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "<customFieldKey>": {
                        "type": "string",
                        "description": "type \n- number - pro volitelné pole typu BIG_DECIMAL, \n- boolean - pro volitelné pole typu BOOLEAN, \n- date - pro typ DATE \n- string - pro ostatní\ncustomFieldKey = vygenerovaný unikátní klíč volitelného pole (získaný z konfigurace volitelných polí). Pokud je hodnota neprázdná, nastaví se volitelnému poli, pokud je prázdná nebo null, hodnota se ve volitelném poli vymaže."
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "RAYNET s.r.o.",
                "securityLevel": 1,
                "owner": 12,
                "rating": "A",
                "state": "A_POTENTIAL",
                "role": "B_PARTNER",
                "notice": "poznamka",
                "category": 12,
                "contactSource": 12,
                "employeesNumber": 12,
                "legalForm": 12,
                "paymentTerm": 12,
                "turnover": 12,
                "economyActivity": 12,
                "companyClassification1": 12,
                "companyClassification2": 12,
                "companyClassification3": 12,
                "regNumber": "12345678",
                "taxNumber": "CZ12345678",
                "taxPayer": "YES",
                "bankAccount": "123123123",
                "addresses": [
                  {
                    "address": {
                      "name": "Sídlo klienta",
                      "street": "Francouzská 6167/5",
                      "city": "Ostrava",
                      "province": "Morava",
                      "zipCode": "708 00",
                      "country": "CZ",
                      "lat": 49.827486,
                      "lng": 18.186497
                    },
                    "contactInfo": {
                      "email": "info@raynet.cz",
                      "email2": "",
                      "fax": "",
                      "otherContact": "",
                      "tel1": "+420 553 401 520",
                      "tel1Type": "recepce",
                      "tel2": "+420 553 401 547",
                      "tel2Type": "zákaznická podpora",
                      "www": "www.raynet.cz",
                      "doNotSendMM": false
                    },
                    "territory": 12
                  }
                ],
                "tags": [
                  "tag 1",
                  "tag 2"
                ],
                "customFields": {
                  "Spoluprace_2aa2c": "2022-01-01"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insert201Response"
                }
              }
            }
          }
        }
      }
    },
    "/company/{companyId}/": {
      "get": {
        "tags": [
          "Klienti"
        ],
        "summary": "detail klienta",
        "description": "Získání detailu klienta. V detailu je uveden klient se všemi evidovanými údaji včetně všech evidovaných adres.\nPokud záznam klienta obsahuje volitelná pole, ve výstupu nejsou přítomná pole, která obsahují prázdnou hodnotu (z optimalizačních důvodů).\n\n```\nhttps://app.raynet.cz/api/v2/company/1/\n```",
        "operationId": "companyDetailGet",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "success": "true",
                  "data": {
                    "id": 2,
                    "name": "Test s.r.o.",
                    "person": false,
                    "firstName": null,
                    "lastName": null,
                    "titleBefore": null,
                    "titleAfter": null,
                    "salutation": null,
                    "owner": {
                      "id": 1,
                      "fullName": "RAYNET CRM"
                    },
                    "rating": "A",
                    "state": "B_ACTUAL",
                    "role": "B_PARTNER",
                    "notice": "poznamka ke klientovi",
                    "category": {
                      "id": 15,
                      "value": "Zákazník"
                    },
                    "contactSource": {
                      "id": 62,
                      "value": "e-mail"
                    },
                    "employeesNumber": {
                      "id": 64,
                      "value": "1 - 10"
                    },
                    "legalForm": {
                      "id": 64,
                      "value": "s.r.o."
                    },
                    "paymentTerm": {
                      "id": 64,
                      "value": "7 dní"
                    },
                    "turnover": {
                      "id": 82,
                      "value": "do 1 mil. Kč"
                    },
                    "economyActivity": {
                      "id": 92,
                      "value": "obor 1"
                    },
                    "companyClassification1": {
                      "id": 93,
                      "value": "kla 1"
                    },
                    "companyClassification2": {
                      "id": 94,
                      "value": "kla 2"
                    },
                    "companyClassification3": {
                      "id": 95,
                      "value": "kla 3"
                    },
                    "regNumber": "123456789",
                    "taxNumber": "CZ123456789",
                    "taxNumber2": null,
                    "taxPayer": "YES",
                    "bankAccount": "123456/1111",
                    "databox": null,
                    "court": null,
                    "birthday": null,
                    "primaryAddress": {
                      "id": 2,
                      "primary": true,
                      "contactAddress": false,
                      "address": {
                        "id": 2,
                        "city": "Ostrava-Slezská Ostrava",
                        "country": "Česká republika",
                        "name": "Sídlo klienta",
                        "province": "Moravskoslezský kraj",
                        "street": "Těšínská",
                        "zipCode": "710 00",
                        "lat": null,
                        "lng": null
                      },
                      "territory": {
                        "id": 91,
                        "value": "Morava"
                      },
                      "contactInfo": {
                        "email": "test@test.cz",
                        "email2": "test2@test.cz",
                        "primary": true,
                        "tel1": "123 456 789",
                        "tel1Type": "mobil",
                        "tel2": "987 654 321",
                        "tel2Type": "pevná linka",
                        "www": "www.test.cz",
                        "otherContact": null
                      }
                    },
                    "tags": [
                      "stitek1",
                      "stitek 2"
                    ],
                    "logo": {
                      "id": 428,
                      "contentType": "image/png",
                      "fileName": "logo.png",
                      "size": 17485
                    },
                    "socialNetworkContact": {
                      "facebook": "abcd",
                      "googleplus": null,
                      "twitter": null,
                      "linkedin": null,
                      "pinterest": null,
                      "instagram": null,
                      "skype": null,
                      "youtube": null
                    },
                    "customFields": {
                      "Cislo_klie_cd702": "AB123",
                      "Lonsky_zis_7aac1": 500,
                      "Spoluprace_2aa2c": "2022-02-02"
                    },
                    "rowInfo.createdAt": "2022-06-18 13:19",
                    "rowInfo.createdBy": "demo@raynet.cz",
                    "rowInfo.updatedAt": "2022-01-23 09:50",
                    "rowInfo.updatedBy": "demo@raynet.cz",
                    "rowInfo.rowAccess": null,
                    "rowInfo.rowState": null,
                    "_version": 14,
                    "attachments": [
                      {
                        "id": 213,
                        "link": null,
                        "linkName": null,
                        "file": {
                          "id": 631,
                          "contentType": "application/zip",
                          "fileName": "test_zip.zip",
                          "size": 4413
                        },
                        "folder": "Test",
                        "folderId": 6
                      }
                    ],
                    "addresses": [
                      {
                        "id": 2,
                        "primary": true,
                        "contactAddress": false,
                        "address": {
                          "id": 2,
                          "city": "Ostrava-Slezská Ostrava",
                          "country": "Česká republika",
                          "name": "Sídlo klienta",
                          "province": "Moravskoslezský kraj",
                          "street": "Těšínská",
                          "zipCode": "710 00",
                          "lat": null,
                          "lng": null
                        },
                        "territory": {
                          "id": 91,
                          "value": "Morava"
                        },
                        "contactInfo": {
                          "email": "test@test.cz",
                          "email2": "test2@test.cz",
                          "primary": true,
                          "tel1": "123 456 789",
                          "tel1Type": "mobil",
                          "tel2": "987 654 321",
                          "tel2Type": "pevná linka",
                          "www": "www.test.cz",
                          "otherContact": null
                        }
                      },
                      {
                        "id": 3,
                        "primary": false,
                        "contactAddress": true,
                        "address": {
                          "id": 3,
                          "city": "Ostrava-Moravská Ostrava",
                          "country": "Česká republika",
                          "name": "Provozovna",
                          "province": "Moravskoslezský kraj",
                          "street": "Českobratrská 113",
                          "zipCode": "702 00",
                          "lat": null,
                          "lng": null
                        },
                        "territory": {
                          "id": 91,
                          "value": "Morava"
                        },
                        "contactInfo": {
                          "email": "provozovna@test.cz",
                          "email2": null,
                          "primary": true,
                          "tel1": "444 444 444",
                          "tel1Type": "mobil",
                          "tel2": "111 111 111",
                          "tel2Type": "pevná linka",
                          "www": null,
                          "otherContact": null
                        }
                      }
                    ],
                    "inlineGdpr": [
                      {
                        "id": 1,
                        "validFrom": "2022-01-01",
                        "validTill": "2022-01-01",
                        "legalTitle": "LEGITIMATE_INTEREST",
                        "templateName": "Opravněný zájem",
                        "gdprTemplate": 1
                      }
                    ],
                    "originLead": {
                      "id": 4,
                      "code": "L-18-002",
                      "topic": "Můj lead"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "upravení klienta",
        "description": "Upravení dat klienta",
        "operationId": "companyEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyEditDto",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "[Název]"
                  },
                  "person": {
                    "type": "boolean",
                    "description": "[Jedná se o fyzickou osobu]"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "[Příjmení fyzické osoby] - povinný v případě, že je aktivní příznak 'Jedná se o fyzickou osobu'"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "[Jméno fyzické osoby]"
                  },
                  "titleBefore": {
                    "type": "string",
                    "description": "[Titul před jménem fyzické osoby]"
                  },
                  "titleAfter": {
                    "type": "string",
                    "description": "[Titul za jménem fyzické osoby]"
                  },
                  "salutation": {
                    "type": "string",
                    "description": "[Oslovení]"
                  },
                  "securityLevel": {
                    "type": "integer",
                    "description": "[Bezpečnostní úroveň] ID bezpečnostní úrovně. Pokud není vyplněna, je nastavena výchozí bezpečnostní skupina.",
                    "format": "int64"
                  },
                  "owner": {
                    "type": "integer",
                    "description": "[Vlastník] ID kontaktní osoby, která je zároveň uživatelem",
                    "format": "int64"
                  },
                  "rating": {
                    "type": "string",
                    "description": "[Rating]",
                    "enum": [
                      "A",
                      "B",
                      "C"
                    ]
                  },
                  "state": {
                    "type": "string",
                    "description": "[Stav]",
                    "enum": [
                      "A_POTENTIAL",
                      "B_ACTUAL",
                      "C_DEFERRED",
                      "D_UNATTRACTIVE"
                    ]
                  },
                  "role": {
                    "type": "string",
                    "description": "[Vztah]",
                    "enum": [
                      "A_SUBSCRIBER",
                      "B_PARTNER",
                      "C_SUPPLIER",
                      "D_RIVAL"
                    ]
                  },
                  "notice": {
                    "type": "string",
                    "description": "[Poznámka ke klientovi]"
                  },
                  "category": {
                    "type": "integer",
                    "description": "[Kategorie] ID záznamu z číselníku CompanyCategory",
                    "format": "int64"
                  },
                  "contactSource": {
                    "type": "integer",
                    "description": "[Zdroj kontaktu] ID záznamu z číselníku ContactSource",
                    "format": "int64"
                  },
                  "employeesNumber": {
                    "type": "integer",
                    "description": "[Zaměstnanců] ID záznamu z číselníku EmployeesNumber",
                    "format": "int64"
                  },
                  "legalForm": {
                    "type": "integer",
                    "description": "[Právní forma] ID záznamu z číselníku LegalForm",
                    "format": "int64"
                  },
                  "paymentTerm": {
                    "type": "integer",
                    "description": "[Platbní podmínky] ID záznamu z číselníku PaymentTerm",
                    "format": "int64"
                  },
                  "turnover": {
                    "type": "integer",
                    "description": "[Obrat] ID záznamu z číselníku CompanyTurnover",
                    "format": "int64"
                  },
                  "economyActivity": {
                    "type": "integer",
                    "description": "[Obor] ID záznamu z číselníku EconomyActivity",
                    "format": "int64"
                  },
                  "companyClassification1": {
                    "type": "integer",
                    "description": "[Klasifikace 1]ID záznamu z číselníku CompanyClassification1",
                    "format": "int64"
                  },
                  "companyClassification2": {
                    "type": "integer",
                    "description": "[Klasifikace 2] ID záznamu z číselníku CompanyClassification2",
                    "format": "int64"
                  },
                  "companyClassification3": {
                    "type": "integer",
                    "description": "[Klasifikace 3] ID záznamu z číselníku CompanyClassification3",
                    "format": "int64"
                  },
                  "regNumber": {
                    "type": "string",
                    "description": "[IČ]"
                  },
                  "taxNumber": {
                    "type": "string",
                    "description": "[DIČ]"
                  },
                  "taxNumber2": {
                    "type": "string",
                    "description": "[IČ DPH] Pro slovenské klienty"
                  },
                  "taxPayer": {
                    "type": "string",
                    "description": "[Plátce DPH]",
                    "enum": [
                      "YES",
                      "NO"
                    ]
                  },
                  "bankAccount": {
                    "type": "string",
                    "description": "[Bankovní spojení]"
                  },
                  "databox": {
                    "type": "string",
                    "description": "[Datová schránka]"
                  },
                  "court": {
                    "type": "string",
                    "description": "[Spisová značka]"
                  },
                  "birthday": {
                    "type": "string",
                    "description": "[Narozeniny/Výročí]",
                    "format": "date"
                  },
                  "socialNetworkContact": {
                    "type": "object",
                    "properties": {
                      "facebook": {
                        "type": "string",
                        "description": "[Facebook]"
                      },
                      "googleplus": {
                        "type": "string",
                        "description": "[Google+]"
                      },
                      "twitter": {
                        "type": "string",
                        "description": "[Twitter]"
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "[Linkedin]"
                      },
                      "pinterest": {
                        "type": "string",
                        "description": "[Pinterest]"
                      },
                      "instagram": {
                        "type": "string",
                        "description": "[Instagram]"
                      },
                      "skype": {
                        "type": "string",
                        "description": "[Skype]"
                      },
                      "youtube": {
                        "type": "string",
                        "description": "[Youtube]"
                      }
                    }
                  },
                  "originLead": {
                    "type": "integer",
                    "description": "[Lead] ID leadu, ze kterého klient vznikl",
                    "format": "int64"
                  },
                  "customFields": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "<customFieldKey>": {
                        "type": "string",
                        "description": "type \n- number - pro volitelné pole typu BIG_DECIMAL, \n- boolean - pro volitelné pole typu BOOLEAN, \n- date - pro typ DATE \n- string - pro ostatní\ncustomFieldKey = vygenerovaný unikátní klíč volitelného pole (získaný z konfigurace volitelných polí). Pokud je hodnota neprázdná, nastaví se volitelnému poli, pokud je prázdná nebo null, hodnota se ve volitelném poli vymaže."
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "RAYNET s.r.o.",
                "owner": 12,
                "rating": "A",
                "state": "A_POTENTIAL",
                "role": "B_PARTNER",
                "notice": "poznamka",
                "category": 12,
                "contactSource": 12,
                "employeesNumber": 12,
                "legalForm": 12,
                "paymentTerm": 12,
                "turnover": 12,
                "economyActivity": 12,
                "companyClassification1": 12,
                "companyClassification2": 12,
                "companyClassification3": 12,
                "regNumber": "12345678",
                "taxNumber": "CZ12345678",
                "taxPayer": "YES",
                "bankAccount": "123123123",
                "customFields": {
                  "Lonsky_zis_7aac1": 666
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Klienti"
        ],
        "summary": "smazání klienta",
        "description": "",
        "operationId": "companyDelete",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/lock": {
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "uzamčení klienta",
        "description": "Uzamčení záznamu klienta pro editaci.",
        "operationId": "companyLockEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/unlock": {
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "odemčení klienta",
        "description": "Odemčení záznamu klienta k editaci.",
        "operationId": "companyUnlockEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/invalid": {
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "zneplatnění klienta",
        "description": "Zneplatnění záznamu klienta.",
        "operationId": "companyInvalidEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/valid": {
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "obnovení platnosti klienta",
        "description": "Obnovení platnosti záznamu klienta.",
        "operationId": "companyValidEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/anonymize/": {
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "GDPR anonymize klienta",
        "description": "U záznamu se provede anonimizace data.",
        "operationId": "companyAnonymizeEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/address/": {
      "put": {
        "tags": [
          "Klienti"
        ],
        "summary": "přidání adresy ke klientovi",
        "description": "Přidání nové adresy ke klientovi s identifikátorem `companyId`. Adresa je zařazena mezi ostatní adresy (tzn. není primární).",
        "operationId": "companyAddressInsert",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyAddressInsertDto",
                "type": "object",
                "properties": {
                  "address": {
                    "type": "object",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "[Název]"
                      },
                      "street": {
                        "type": "string",
                        "description": "[Ulice]"
                      },
                      "city": {
                        "type": "string",
                        "description": "[Město]"
                      },
                      "province": {
                        "type": "string",
                        "description": "[Kraj]"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "[PSČ]"
                      },
                      "country": {
                        "type": "string",
                        "description": "[Kód Země]"
                      },
                      "lat": {
                        "type": "number",
                        "nullable": true,
                        "description": "[Zeměpisná šířka]"
                      },
                      "lng": {
                        "type": "number",
                        "nullable": true,
                        "description": "[Zeměpisná délka]"
                      }
                    }
                  },
                  "contactInfo": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "[Email]"
                      },
                      "email2": {
                        "type": "string",
                        "description": "[Email2]"
                      },
                      "fax": {
                        "type": "string",
                        "description": "[Fax]"
                      },
                      "otherContact": {
                        "type": "string",
                        "description": "[Jiný kontakt]"
                      },
                      "tel1Type": {
                        "type": "string",
                        "description": "[Typ 1]"
                      },
                      "tel1": {
                        "type": "string",
                        "description": "[Tel 1]"
                      },
                      "tel2Type": {
                        "type": "string",
                        "description": "[Typ 2]"
                      },
                      "tel2": {
                        "type": "string",
                        "description": "[Tel 2]"
                      },
                      "www": {
                        "type": "string",
                        "description": "[WWW]"
                      },
                      "doNotSendMM": {
                        "type": "boolean",
                        "description": "[Neposílat mark. m.]"
                      }
                    }
                  },
                  "territory": {
                    "type": "integer",
                    "description": "[Obchodní teritorium] ID záznamu z číselníku Territory",
                    "format": "int64"
                  }
                }
              },
              "example": {
                "address": {
                  "name": "Sídlo klienta",
                  "street": "Francouzská 6167/5",
                  "city": "Ostrava",
                  "province": "Morava",
                  "zipCode": "708 00",
                  "country": "CZ",
                  "lat": null,
                  "lng": null
                },
                "contactInfo": {
                  "email": "info@raynet.cz",
                  "email2": "",
                  "fax": "",
                  "otherContact": "",
                  "tel1": "+420 553 401 520",
                  "tel1Type": "recepce",
                  "tel2": "+420 553 401 547",
                  "tel2Type": "zákaznická podpora",
                  "www": "www.raynet.cz",
                  "doNotSendMM": false
                },
                "territory": 12
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Insert201Response"
                }
              }
            }
          }
        }
      }
    },
    "/company/{companyId}/address/{addressId}/": {
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "upravení adresy klienta",
        "description": "U klienta s identifikátorem `companyId` bude upravena adresa s identifikátorem `addressId`.",
        "operationId": "companyAddressEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "ID adresy",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyAddressEditDto",
                "type": "object",
                "properties": {
                  "address": {
                    "type": "object",
                    "required": [
                      "name"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "[Název]"
                      },
                      "street": {
                        "type": "string",
                        "description": "[Ulice]"
                      },
                      "city": {
                        "type": "string",
                        "description": "[Město]"
                      },
                      "province": {
                        "type": "string",
                        "description": "[Kraj]"
                      },
                      "zipCode": {
                        "type": "string",
                        "description": "[PSČ]"
                      },
                      "country": {
                        "type": "string",
                        "description": "[Kód Země]"
                      },
                      "lat": {
                        "type": "number",
                        "nullable": true,
                        "description": "[Zeměpisná šířka]"
                      },
                      "lng": {
                        "type": "number",
                        "nullable": true,
                        "description": "[Zeměpisná délka]"
                      }
                    }
                  },
                  "contactInfo": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "[Email]"
                      },
                      "email2": {
                        "type": "string",
                        "description": "[Email2]"
                      },
                      "fax": {
                        "type": "string",
                        "description": "[Fax]"
                      },
                      "otherContact": {
                        "type": "string",
                        "description": "[Jiný kontakt]"
                      },
                      "tel1Type": {
                        "type": "string",
                        "description": "[Typ 1]"
                      },
                      "tel1": {
                        "type": "string",
                        "description": "[Tel 1]"
                      },
                      "tel2Type": {
                        "type": "string",
                        "description": "[Typ 2]"
                      },
                      "tel2": {
                        "type": "string",
                        "description": "[Tel 2]"
                      },
                      "www": {
                        "type": "string",
                        "description": "[WWW]"
                      },
                      "doNotSendMM": {
                        "type": "boolean",
                        "description": "[Neposílat mark. m.]"
                      }
                    }
                  },
                  "territory": {
                    "type": "integer",
                    "description": "[Obchodní teritorium] ID záznamu z číselníku Territory",
                    "format": "int64"
                  }
                }
              },
              "example": {
                "address": {
                  "name": "Sídlo klienta",
                  "street": "Francouzská 6167/5",
                  "city": "Ostrava",
                  "province": "Morava",
                  "zipCode": "708 00",
                  "country": "CZ",
                  "lat": null,
                  "lng": null
                },
                "contactInfo": {
                  "email": "info@raynet.cz",
                  "email2": "",
                  "fax": "",
                  "otherContact": "",
                  "tel1": "+420 553 401 520",
                  "tel1Type": "recepce",
                  "tel2": "+420 553 401 547",
                  "tel2Type": "zákaznická podpora",
                  "www": "www.raynet.cz",
                  "doNotSendMM": false
                },
                "territory": 12
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Klienti"
        ],
        "summary": "smazání adresy klienta",
        "description": "U klienta s identifikátorem `companyId` bude smazána adresa s identifikátorem `addressId`. Nelze smazat primární adresu (tzn. u klienta vždy musí být alespoň jedna adresa).",
        "operationId": "companyAddressDelete",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "ID adresy",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/address/{addressId}/setPrimary/": {
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "nastavení primární adresy",
        "description": "U klienta s identifikátorem `companyId` bude nastavena nová primární adresa. Adresa, která byla doposud označena jako primární se přesune mezi ostatní adresy.",
        "operationId": "companyAddressSetPrimaryEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "ID adresy",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/address/{addressId}/setContact/": {
      "post": {
        "tags": [
          "Klienti"
        ],
        "summary": "nastavení kontaktní adresy",
        "description": "U klienta s identifikátorem `companyId` bude nastavena adresa jako kontaktní. Tato adresa se bude zobrazovat v seznamu klientů a bude jako první v detailu klienta. Adresa, která byla doposud označena jako kontaktní se přesune mezi ostatní adresy.",
        "operationId": "companyAddressSetContactEdit",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          },
          {
            "name": "addressId",
            "in": "path",
            "description": "ID adresy",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/tag/": {
      "put": {
        "tags": [
          "Klienti"
        ],
        "summary": "přidání TAGu ke Klientovi",
        "description": "",
        "operationId": "companyTagInsert",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyTagInsertDto",
                "type": "object",
                "required": [
                  "tag"
                ],
                "properties": {
                  "tag": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "tag": "muj tag"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "Klienti"
        ],
        "summary": "smazání TAGu z Klienta",
        "description": "",
        "operationId": "companyTagDelete",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CompanyTagDeleteDto",
                "type": "object",
                "required": [
                  "tag"
                ],
                "properties": {
                  "tag": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "tag": "muj tag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/company/{companyId}/relationship/": {
      "get": {
        "tags": [
          "Klienti"
        ],
        "summary": "Propojení na jiné klienty",
        "description": "Získání vazeb na jiné klienty.\n\n```\nhttps://app.raynet.cz/api/v2/company/1/relationship/\n```",
        "operationId": "companyRelationshipDetailGet",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "totalCount": 1,
                  "data": [
                    {
                      "id": 1,
                      "notice": null,
                      "companyJoin": {
                        "id": 1,
                        "name": "RAYNET s.r.o.",
                        "role": "C_SUPPLIER",
                        "state": "A_POTENTIAL",
                        "regNumber": "26843820",
                        "rating": "A",
                        "primaryAddress": {
                          "id": 1,
                          "primary": null,
                          "address": {
                            "id": 1,
                            "city": "Ostrava-Poruba",
                            "country": "Česká republika",
                            "countryCode": "CZ",
                            "name": null,
                            "province": null,
                            "street": null,
                            "zipCode": null,
                            "lat": null,
                            "lng": null
                          },
                          "contactInfo": {
                            "primary": null,
                            "email": "info@raynet.cz",
                            "email2": null,
                            "tel1": "+420 553 401 520",
                            "tel1Type": null,
                            "tel2": null,
                            "tel2Type": null,
                            "fax": null,
                            "www": null,
                            "otherContact": null,
                            "doNotSendMM": false
                          },
                          "territory": {
                            "id": 90,
                            "value": "aaaaaa"
                          }
                        }
                      },
                      "companyJoinType": "parent"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Klienti"
        ],
        "summary": "přidání propojení na klienta",
        "description": "Přidání nové vazby klienta na jiného klienta. Vazba může být tří typů - vazba mateřského klienta na dceřinného (\"parent\"), dceřinného na mateřského (\"slave\") nebo volná vazba (\"free\"). Po přidání nové vazby vznikne mezi oběma klienty zároveň druhá vazba - vazba inverzní (např. pro novou vazbu typu \"parent\" vznikne zároveň opačná vazba typu \"slave\").",
        "operationId": "companyRelationshipInsert",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "ID klienta",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
[...]
